<template>
  <div class="enjoy">
    <div class="user_info">
      <img alt="Vue logo" class="logo" src="../assets/logo.png">
      <div class="user_score">
        Hi <strong>{{user.user}}</strong>, <br>how much you <strong class="color-red">love pizza</strong>?
        <big>{{ user.votes }}</big>
      </div>
      <button class="btn" @click="giveLove">I LOVE IT</button>
      <div class="ratings">
        
      </div>
      <button class="btn btn-link" @click="logout">Log out</button>
    </div>
    <div class="votes">
      <div class="title"><strong>TOP</strong> USERS:</div>
      <ul id="users_top">
        <li v-for="user_top in top_users_sorted" :key="user_top.votes">
          {{ user_top.user }} <span>{{user_top.votes}}<i class="fas fa-heart"></i></span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
//import axios from "axios";
import user_db from "../../public/db.json"
export default {
  name: 'enjoy',
  props: {
    user: Object,
    top_users_sorted: [],
    top_users: []
  },
  methods: {
    giveLove() {
      this.user.votes = this.user.votes + 1

      // This is the way to update user information in the server
      /*
      let payload = {
        "user_email": this.user.email,
        "votes": this.user.votes
      }
      axios.post('https://api.server_users/user_update', payload)
        .then(({data, status}) => {
          if(status != 200) {
            console.log(data);
          }
        })
        .catch(error => console.log(error));
        */
    },
    logout() {
      this.$emit('user-logout');
    }
  },
  watch: {
    top_users_sorted: function() {
      function compare(a, b) {
        if (a.votes < b.votes)
          return -1;
        if (a.votes > b.votes)
          return 1;
        return 0;
      }
      return this.top_users.sort(compare);
    }
  },
  created() {
    this.top_users_sorted = user_db;
    
  }
}
</script>