<template>
  <div class="login">
    <img alt="Vue logo" class="logo" src="../assets/logo.png">
    <div class="title">Please Login</div>
    <form action class="form" v-if="show_login" @submit.prevent="login">
      <div class="alert warning" v-if="show_alert">
        <div class="close" @click="hide_alert"></div>
        <div class="content">Sorry! email and password doesn't match please try again.</div>
      </div>
      <div class="input">
        <label class="form-label" for="#email">Email:</label>
        <input v-model="email" class="form-input" type="email" id="email" placeholder="Email">
      </div>
      <div class="input">
        <label class="form-label" for="#password">Password:</label>
        <input v-model="password" class="form-input" type="password" id="password" placeholder="Password">
      </div>
      <button class="form-submit btn">Login</button> <br> <button @click="switch_login" class="btn btn-link">Register</button>
    </form>
    <form action class="form" v-if="!show_login"  @submit.prevent="register">
      <div class="alert warning" v-if="show_alert">
        <div class="close" @click="hide_alert"></div>
        <div class="content">Sorry! email and password doesn't match please try again.</div>
      </div>
      <div class="input">
        <label class="form-label" for="#email">Email:</label>
        <input v-model="email" class="form-input" type="email" id="email" placeholder="Email">
      </div>
      <div class="input">
        <label class="form-label" for="#username">Name:</label>
        <input v-model="email" class="form-input" type="text" id="username" placeholder="Name">
      </div>
      <div class="input">
        <label class="form-label" for="#password">Password:</label>
        <input v-model="password" class="form-input" type="password" id="password" placeholder="Password">
      </div>
      <div class="input">
        <label class="form-label" for="#password">Repeat password:</label>
        <input v-model="password" class="form-input" type="password" id="password" placeholder="Password">
      </div>
      <button class="form-submit btn">Register</button> <br> <button @click="switch_login" class="btn btn-link">Login</button>
    </form>
  </div>
</template>

<script>
//import axios from "axios";
import user_db from "../../public/db.json"
export default {
  name: 'login',
  data: () => ({
    email: "",
    password: "",
    show_alert: false,
    show_login: true
  }),
  methods: {
    hide_alert() {
      this.show_alert = false;
    },
    login() {
      let email = this.email,
          password = this.password;
      if(user_db[email] && user_db[email]['password'] == password) {
        this.show_alert = false;
        this.$emit('user-logged', email);
      } else {
        this.show_alert = true;
      }
      /*
      let payload = {
        "user_email": email,
        "password": password
      }
      axios.post('https://api.server_users/user_check', payload)
        .then(({data, status}) => {
          if(status != 200) {
            console.log(data);
            this.show_alert = true;
          }
        })
        .catch(error => console.log(error));
      */
    },
    register() {
      /*
      let payload = {
        "user_email": email,
        "user_name": username,
        "password": password
      }
      axios.post('https://api.server_users/user_register', payload)
        .then(({data, status}) => {
          if(status != 200) {
            console.log(data);
            this.show_alert = true;
          }
        })
        .catch(error => console.log(error));
      */
    },
    switch_login() {
      if(this.show_login) {
        this.show_login = false;
      } else {
        this.show_login = true;
      }
    }
  }
};
</script>