<template>
  <div id="app">
    <login v-if="!user" @user-logged="userLogged"/>
    <enjoy v-if="user" :user="user" @user-logout="userLogout" />
  </div>
</template>

<script>
import enjoy from './components/enjoy.vue'
import login from './components/login.vue'
import user_db from '../public/db.json'

export default {
  name: 'App',
  data: () => ({
    user: false
  }),
  methods: {
    userLogged(email) {
      this.user = user_db[email];
    },
    userLogout() {
      this.user = false;
    }
  },
  components: {
    enjoy,
    login
  }
}
</script>