@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");
/* line 23, ../sass/_mixins.scss */
.center_xy {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 32, ../sass/_mixins.scss */
.center_x {
  @nclude center_x;
}

/* line 41, ../sass/_mixins.scss */
.center_y {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

/* line 10, ../sass/_defaults.scss */
.btn {
  position: relative;
  background: transparent;
  color: white;
  border-width: 0;
  border-radius: 5px;
  padding: 10px 25px;
  margin-top: 20px;
  cursor: pointer;
  overflow: hidden;
}
/* line 20, ../sass/_defaults.scss */
.btn.btn-link {
  color: #e3001b;
  text-decoration: underline;
}
/* line 23, ../sass/_defaults.scss */
.btn.btn-link::before, .btn.btn-link::after {
  background: transparent;
}
/* line 27, ../sass/_defaults.scss */
.btn.btn-link:hover::after {
  background: rgba(34, 34, 34, 0.3);
}
/* line 32, ../sass/_defaults.scss */
.btn::before, .btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e3001b;
  z-index: -1;
}
/* line 38, ../sass/_defaults.scss */
.btn::after {
  background: #222;
  width: 0;
  -webkit-transition: width 0.6s;
  -moz-transition: width 0.6s;
  -ms-transition: width 0.6s;
  -o-transition: width 0.6s;
  transition: width 0.6s;
}
/* line 44, ../sass/_defaults.scss */
.btn:hover::after {
  width: 100%;
  left: auto;
}

/* line 51, ../sass/_defaults.scss */
.color-red {
  color: #e3001b;
}

/* line 6, ../sass/main.scss */
body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
  text-align: center;
}
/* line 12, ../sass/main.scss */
body .logo {
  width: 200px;
}
/* line 1, ../sass/_login.scss */
body .login {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
/* line 6, ../sass/_login.scss */
body .login .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #e3001b;
}
/* line 12, ../sass/_login.scss */
body .login form label, body .login form input {
  display: block;
  width: 250px;
}
/* line 16, ../sass/_login.scss */
body .login form .input {
  position: relative;
  padding-top: 25px;
}
/* line 20, ../sass/_login.scss */
body .login form label {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0;
  text-align: left;
  font-size: 12px;
}
/* line 28, ../sass/_login.scss */
body .login form input {
  position: relative;
  background: transparent;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}
/* line 36, ../sass/_login.scss */
body .login form .alert {
  display: block;
  padding: 10px 30px 10px 10px;
  border-radius: 5px;
  position: relative;
  margin: 10px 0;
  width: 250px;
  text-align: left;
}
/* line 44, ../sass/_login.scss */
body .login form .alert .close {
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  right: 10px;
  cursor: pointer;
  font-weight: bolder;
  opacity: .5;
}
/* line 51, ../sass/_login.scss */
body .login form .alert .close::before {
  content: 'x';
}
/* line 55, ../sass/_login.scss */
body .login form .alert.warning {
  border-color: #f9b41c;
  background: #FBCD67;
  color: #604303;
}
/* line 1, ../sass/_enjoy.scss */
body .enjoy {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
}
/* line 4, ../sass/_enjoy.scss */
body .enjoy .user_info, body .enjoy .votes {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
/* line 14, ../sass/_enjoy.scss */
body .enjoy .user_info .user_score {
  padding: 20px 0 0;
  text-transform: uppercase;
}
/* line 17, ../sass/_enjoy.scss */
body .enjoy .user_info .user_score big {
  color: #e3001b;
  display: block;
  font-size: 50px;
}
/* line 24, ../sass/_enjoy.scss */
body .enjoy .votes {
  z-index: 0;
  border-radius: 0 5px 5px 0;
}
/* line 27, ../sass/_enjoy.scss */
body .enjoy .votes #users_top {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
}
/* line 32, ../sass/_enjoy.scss */
body .enjoy .votes #users_top li {
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid rgba(239, 239, 239, 0.5);
}
/* line 35, ../sass/_enjoy.scss */
body .enjoy .votes #users_top li:nth-child(odd) {
  background: rgba(239, 239, 239, 0.3);
}
/* line 39, ../sass/_enjoy.scss */
body .enjoy .votes #users_top li:last-of-type {
  border-bottom-width: 0;
}
/* line 42, ../sass/_enjoy.scss */
body .enjoy .votes #users_top li span {
  display: inline-block;
  position: relative;
  z-index: 2;
  color: #e3001b;
  font-weight: bold;
  float: right;
  width: 50px;
  margin-left: 20px;
  text-align: center;
}
/* line 52, ../sass/_enjoy.scss */
body .enjoy .votes #users_top li span i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  font-size: 30px;
  color: #EFEFEF;
}
