@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');

$black: #222;
$grey: #AAA;
$lightgrey: #EFEFEF;
$red: #e3001b;
$green: #42b983;
$yellow: #FBCD67;

.btn {
    position: relative;
    background: transparent;
    color: white;
    border-width: 0;
    border-radius: 5px;
    padding: 10px 25px;
    margin-top: 20px;
    cursor: pointer;
    overflow: hidden;
    &.btn-link {
        color: $red;
        text-decoration: underline;
        &::before, &::after {
            background: transparent;
        }
        &:hover {
            &::after {
                background:rgba($black, .3);
            }
        }
    }
    &::before, &::after {
        content: '';
        @include full_size;
        background: $red;
        z-index: -1;
    }
    &::after {
        background: $black;
        width: 0;
        @include transition(width, .6s);
    }
    &:hover {
        &::after {
            width: 100%;
            left: auto;
        }
    }
}

.color-red {
    color: $red;
}