.enjoy {
    @include center_xy;
    max-width: 100%;
    .user_info, .votes {
        position: relative;
        z-index: 1;
        display: inline-block;
        vertical-align: middle;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,.1);
        padding: 20px;
    }
    .user_info {
        .user_score {
            padding: 20px 0 0;
            text-transform: uppercase;
            big {
                color: $red;
                display: block;
                font-size: 50px;
            }
        }
    }
    .votes {
        z-index: 0;
        border-radius: 0 5px 5px 0;
        #users_top {
            text-align: left;
            list-style-type: none;
            padding: 0;
            margin: 10px 0 0 0;
            li {
                padding: 5px 5px 5px 10px;
                border-bottom: 1px solid rgba($lightgrey, .5);
                &:nth-child(odd) {
                    background: rgba($lightgrey, .3);

                }
                &:last-of-type {
                    border-bottom-width: 0;
                }
                span {
                    display: inline-block;
                    position: relative;
                    z-index: 2;
                    color: $red;
                    font-weight: bold;
                    float: right;
                    width: 50px;
                    margin-left: 20px;
                    text-align: center;
                    i {
                        @include center_xy;
                        z-index: -1;
                        font-size: 30px;
                        color: $lightgrey;
                    }
                }
            }
        }
    }
} 