.login {
    @include center_xy;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    padding: 20px;
    .title {
        text-transform: uppercase;
        font-weight: bold;
        color: $red;
    }
    form {
        label, input {
            display: block;
            width: 250px;
        }
        .input {
            position: relative;
            padding-top: 25px;
        }
        label {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 0;
            text-align: left;
            font-size: 12px;
        } 
        input {
            position: relative;
            background: transparent;
            border: 1px solid $lightgrey;
            border-radius: 5px;
            padding: 10px;
            font-size: 14px;
        }
        .alert {
            display: block;
            padding: 10px 30px 10px 10px;
            border-radius: 5px;
            position: relative;
            margin: 10px 0;
            width: 250px;
            text-align: left;
            .close {
                position: absolute;
                @include center_y;
                right: 10px;
                cursor: pointer;
                font-weight: bolder;
                opacity: .5;
                &::before {
                    content: 'x';
                }
            }
            &.warning {
                border-color: darken($yellow,15%);
                background: $yellow;
                color: darken($yellow,50%);
            }
        }
    }
} 