@mixin transition($prop: all, $time: 1s) {
    -webkit-transition: $prop $time;
    -moz-transition: $prop $time;
    -ms-transition: $prop $time;
    -o-transition: $prop $time;
    transition: $prop $time;
}

@mixin translate($x: 0, $y: 0) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin center_xy {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
}
.center_xy {
    @include center_xy;
}

@mixin center_x {
    position: absolute;
    left: 50%;
    @include translate(-50%, 0%);
}
.center_x {
    @nclude center_x;
}

@mixin center_y {
    position: absolute;
    top: 50%;
    @include translate(0%, -50%);
}
.center_y {
    @include center_y;
}

@mixin full_size {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}