@import "mixins";
@import "defaults";



body {
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
    text-align: center;
    .logo {
        width: 200px;
    }
    @import "login";
    @import "enjoy";
}